#body{
	background-color: darkgray;
	margin: 0px;
}
#headerTop{
	width: 100%;
	background-color: #FF9393;
	height: 125px;
	float: left;
	margin: 0px;
	text-align: center;
}

/*#headerTop:after{
	content: "";
	clear: both;
}*/
#headerSideBar{
	width: 170px;
	background-color: #FF9393;
	height: 1000px;
	float: left;
	margin: 0px;
	text-align: center;
}
#radfordpedialogo{
	float: left;
	text-align: left;
}
#loginButton,#searchButton,#searchBox,#logoutButton,#userDisplay,#registerButton{
	margin-bottom: 1px;
	margin-left: 3px;
	float: right;
}
#content{
	padding: 5px;
}
#userInfo{
	margin-bottom: 1px;
	margin-left: 3px;
	float: right;
}
.summaryTile{
	background-color: lightblue;
	border-style: dashed;
	border-width: 1px;
	width: 900px;
	height: 50px;
	text-align: center;
}

.pageList{
	margin-left:auto;
	margin-right:auto;
}

